/* This is the file, "fonts.css." */
@font-face {
    font-family: 'Bebas Neue';
    src: url('../Fonts/BebasNeue-Regular.ttf') format('truetype');
    font-style: cursive;
 }

 @font-face {
   font-family: 'PT Sans Narrow';
   src: url('../Fonts/PTSansNarrow-Regular.ttf') format('truetype');
   font-style: sans-serif;
}
@font-face {
   font-family: 'PT Sans Narrow';
   src: url('../Fonts/PTSansNarrow-Bold.ttf') format('truetype');
   font-family: sans-serif;
   font-weight: 700;
}
