body {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 10px 10px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 10px 11px;
  background-color:#282828;
  background-size:20px 20px;
}


/* Menu */
header {
  position: fixed;
  background-color: white;
  width: 96.3%;
  height: 3.7em;
  top: 0px;
  border-radius: 1em;
  Font-family: Quicksand;
  text-align: right;
  padding: 0.36em 1em;
  top: +10px;
  left: +6px;
  box-shadow: 3px 3px 10px black;
  z-index: 4;
}


/*Adding in the site name styling*/
.site-name {
  color: black;
  float: left;
  min-width: 6em;
  padding: 0.5 3em;
  letter-spacing: 0.2em;
  font-weight: bold;
  margin: 1em;
}


/* Set the layout of the menu */
.menu-item {
  display: inline-block;
  margin: 1em .2em;
  background-color: #b7b7b7;
  padding: 0.36em 1em;
  border-radius: 1em;
  min-width: 4em;
  text-align: center;
  box-shadow: 3px 3px 10px black;
}


.menu-item:hover{
  background-color: #0561ff;
}


/* Styling my links */
.menu-item a {
  color: black;
  text-decoration:none;
}
.menu-item:hover, .menu-item:hover a {
  color: white;
}


/* Dropdown */
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin: 0.5em 0 0 -1em;
  color: white;
  width: 118px;
  background-color: #ff6c64;
  z-index: 3;
  border-radius: 0em 0em 1em 1em;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: white;
}

/*Styling the dropdown menu display*/
.dropdown-item {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
  min-width: 4em;
}

.dropdown-item:hover, .dropdown-item:hover a {
  color:#0561ff;
  background-color: #ffb274;
}

#foundation:hover{
  border-radius: 0em 0em 1em 1em;
}

.dropdown:hover {
  border-radius: 1em 1em 0em 0em;
}


/*This is for the title and introduction section of the webpage*/
#about1 {
  border: 10px solid #b7b7b7;
  display: inline-block;
  background-color: white;
  height: 100px;
  width: 1000px;
  border-radius: 1em;
  display: inline-block;
  margin-left: +118px;
  margin-top: +130px;
  Font-family:Arima Madurai;
  text-align: center;
  padding: 10px;
}



/*Starting Styling for the Banner Pictures Now*/

#container {
 width: 1000px;
 height: 400px;
 overflow: hidden;
 margin: 50px auto;
}


.photobanner {
  position: relative;
  height: 233px;
  width: 3550px;
  margin-bottom: 80px;
  margin-top: 140px;
}


.photobanner img {
  margin: 0px 25px;
  max-height: 400px;
  box-shadow: 2px 2px 8px black;
  margin-top: -150px;
}

.first {
  -webkit-animation: bannermove 180s linear infinite;
  -moz-animation: bannermove 180s linear infinite;
  -ms-animation: bannermove 180s linear infinite;
  -o-animation: bannermove 180s linear infinite;
  animation: bannermove 180s linear infinite;
}

@keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}

@-moz-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}

@-webkit-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}

@-ms-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}

@-o-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}


/*Contact Us Section Link Styling*/
#contact {
  border: 10px solid #b7b7b7;
  display: inline-block;
  background-color: white;
  height: 40px;
  width: 300px;
  border-radius: 1em;
  display: inline-block;
  margin-left: +470px;
  margin-top: -50px;
  Font-family:Arima Madurai;
  text-align: center;
}

#contact-button:hover {
  color: #ff6c64;
  vertical-align: center;
}


/* Styling the Footer */
footer {
    width: 1250px;
    background-color: white;
    height: 3em;
    text-align: center;
    font-family: Quicksand;
    padding-top: 1em;
    border-radius: 1em;
    margin-top: 50px;
    margin-left: +5px;
    box-shadow: 3px 3px 10px black;
}

#footer-link {
    color: black;
    font-weight: bold;
}

#footer-link:hover {
  color: #ff6c64
}






/*Styling the Supplies Page*/

#about2 {
  border: 10px solid #b7b7b7;
  display: inline-block;
  background-color: white;
  height: 40px;
  width: 450px;
  border-radius: 1em;
  display: inline-block;
  margin-left: +380px;
  margin-top: +125px;
  padding: 10px;
  Font-family:Arima Madurai;
  text-align: center;
  vertical-align: middle;
}

.supply1 {
  border: 10px solid #b7b7b7;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: +118px;
  margin-top: 30px;
}

.supply1 img{
  position:relative;
  z-index:1;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: 0px;
  margin-top: 0pxx;
}


.overlay p{
  text-align: center;
  margin-top: 20%;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 23px;
}

.overlay #info{
  text-align: center;
  margin-top: -10px;
  font-family: Quicksand;
  font-size: 15px;
  margin-left: +5px;
  max-width: 250px;
}

.overlay {
  position: absolute;
  z-index: 2;
  opacity: 0;
  color: black;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  background-color: white;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: 0px;
  margin-top: -254px;
}


.supply1:hover .overlay{
  opacity: 0.8;
}





.supply2 {
  border: 10px solid #b7b7b7;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: +500px;
  margin-top: -270px;
}

.overlay #p2{
  text-align: center;
  margin-top: +30px;
  margin-left: +23px;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 23px;
  max-width: 200px;
}

.overlay #info2{
  text-align: center;
  margin-top: -20px;
  font-family: Quicksand;
  font-size: 14px;
  margin-left: +12px;
  max-width: 225px;
}

.supply2 img{
  position:relative;
  z-index:1;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: 0px;
  margin-top: 0pxx;
}

.supply2:hover .overlay{
  opacity: 0.80;
}





.supply3 {
  border: 10px solid #b7b7b7;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: +880px;
  margin-top: -270px;
}

.overlay #p3{
  text-align: center;
  margin-top: +40px;
  margin-left: +23px;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 23px;
  max-width: 200px;
}

.overlay #info3{
  text-align: center;
  margin-top: -15px;
  font-family: Quicksand;
  font-size: 14px;
  margin-left: +12px;
  max-width: 225px;
}

.supply3 img{
  position:relative;
  z-index:1;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: 0px;
  margin-top: 0px;
}

.supply3:hover .overlay{
  opacity: 0.80;
}




.supply4 {
  border: 10px solid #b7b7b7;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: +118px;
  margin-top: +40px;
}

.overlay #p4{
  text-align: center;
  margin-top: +35px;
  margin-left: +24px;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 23px;
  max-width: 200px;
}

.overlay #info4{
  text-align: center;
  margin-top: -15px;
  font-family: Quicksand;
  font-size: 16px;
  margin-left: +12px;
  max-width: 225px;
}

.supply4 img{
  position:relative;
  z-index:1;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: 0px;
  margin-top: 0pxx;
}

.supply4:hover .overlay{
  opacity: 0.80;
}




.supply5 {
  border: 10px solid #b7b7b7;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: +500px;
  margin-top: -270px;
}

.overlay #p5{
  text-align: center;
  margin-top: +18px;
  margin-left: +27px;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 23px;
  max-width: 200px;
}

.overlay #info5{
  text-align: center;
  margin-top: -15px;
  font-family: Quicksand;
  font-size: 13px;
  margin-left: +26px;
  max-width: 200px;
}

.supply5 img{
  position:relative;
  z-index:1;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: 0px;
  margin-top: 0pxx;
}

.supply5:hover .overlay{
  opacity: 0.80;
}




.supply6 {
  border: 10px solid #b7b7b7;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: +880px;
  margin-top: -270px;
}

.overlay #p6{
  text-align: center;
  margin-top: +30px;
  margin-left: +23px;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 26px;
  max-width: 200px;
}

.overlay #info6{
  text-align: center;
  margin-top: -20px;
  font-family: Quicksand;
  font-size: 15px;
  margin-left: +12px;
  max-width: 225px;
}

.supply6 img{
  position:relative;
  z-index:1;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-left: 0px;
  margin-top: 0pxx;
}

.supply6:hover .overlay{
  opacity: 0.80;
}


#footer-link1 {
    color: black;
    font-weight: bold;
}

#footer-link1:hover {
  color: #ff6c64
}






/*Styling for the History Webpage*/

#about3 {
  border: 10px solid #b7b7b7;
  display: inline-block;
  background-color: white;
  height: 100px;
  width: 850px;
  border-radius: 1em;
  display: inline-block;
  margin-left: +200px;
  margin-top: +100px;
  padding: 10px;
  Font-family:Arima Madurai;
  text-align: center;
}

/*Styling for the History Timeline*/
:root {
  --primary-color: #212121;
  --background-color: #111;
  --font: sans-serif;
  top: +500;
}

* {
  margin: 0;
  padding: 0;
}


/* Timeline Container */
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
  top: +500;
  max-width: 500px;
  border: 10px solid #b7b7b7;
  border-radius: 1em;
}

/* Card container */
.card {
  position: relative;
  max-width: 400px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid #0561ff;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: white;
  color: gray;
  border-radius: 10px;
  padding: 10px;
}

.info:hover {
  background-color: #ffcba0;
}

/* Title of the card */
.title {
  color: #fe554c;
  position: relative;
  font-family: Arima Madurai;
}


#background1 {
  font-family: Quicksand;
  color:black;
}

#background2 {
  font-family: Quicksand;
    color:black;
}

#background3 {
  font-family: Quicksand;
    color:black;
}

#background4 {
  font-family: Quicksand;
    color:black;
}

#background5 {
  font-family: Quicksand;
    color:black;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid #fe554c;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}






/*Styling for the Tutorial Page*/
#about4 {
  border: 10px solid #b7b7b7;
  display: inline-block;
  background-color: white;
  height: 120px;
  width: 900px;
  border-radius: 1em;
  display: inline-block;
  margin-left: +180px;
  margin-top: +120px;
  Font-family:Arima Madurai;
  text-align: center;
  padding: 10px;
}



#video1 {
  border: 10px solid #b7b7b7;
  display: inline-block;
  background-color: white;
  height: 315px;
  width: 500px;
  border-radius: 1em;
  display: inline-block;
  margin-left: +370px;
  margin-top: +50px;
  Font-family:Arima Madurai;
  text-align: center;
  padding: 15px;
}

#video1:hover {
  border: 10px solid #ff6c64;
  background-color: #0561ff;
}

#video2 {
  border: 10px solid #b7b7b7;
  display: inline-block;
  background-color: white;
  height: 315px;
  width: 500px;
  border-radius: 1em;
  display: inline-block;
  margin-left: +370px;
  margin-top: +55px;
  Font-family:Arima Madurai;
  text-align: center;
  padding: 15px;
}

#video2:hover {
  border: 10px solid #ffb274;
  background-color: #ff6c64;
}

#video3 {
  border: 10px solid #b7b7b7;
  display: inline-block;
  background-color: white;
  height: 315px;
  width: 500px;
  border-radius: 1em;
  display: inline-block;
  margin-left: +370px;
  margin-top: +60px;
  Font-family:Arima Madurai;
  text-align: center;
  padding: 15px;
}

#video3:hover {
  border: 10px solid #0561ff;
  background-color: #ffb274;
}

#footer-link3 {
    color: black;
    font-weight: bold;
}

#footer-link3:hover {
  color: #ff6c64
}
