/*Styling the index, home page of the website*/

/*This is for the title and introduction section of the webpage*/
#about1 {
  border: 10px solid #b7b7b7;
  float: center;
  margin: auto;
  background-color: white;
  height: 10%;
  width: 80%;
  border-radius: 1em;
  Font-family:Arima Madurai;
  text-align: center;
}


/*Starting styling for the banner pictures now*/
#container {
 width: 100%;
 overflow: hidden;
 margin: auto;
 margin-bottom: +3%;
}

@media only screen and (max-width: 768px) {
  #container {
    margin-top: 8%;
  }
  }


.photobanner {
  position: relative;
  height: 233px;
  width: 3550px;
  margin-top: 18%;
}


.photobanner img {
  margin: 0px 25px;
  max-height: 400px;
  box-shadow: 2px 2px 8px black;
  margin-top: -150px;
}


.first {
  -webkit-animation: bannermove 180s linear infinite;
  -moz-animation: bannermove 180s linear infinite;
  -ms-animation: bannermove 180s linear infinite;
  -o-animation: bannermove 180s linear infinite;
  animation: bannermove 180s linear infinite;
}


@keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}


@-moz-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}


@-webkit-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}


@-ms-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}


@-o-keyframes "bannermove" {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
}


/*Contact us section link styling*/
#contact {
  border: 10px solid #b7b7b7;
  margin: auto;
  background-color: white;
  height: 0.5%;
  width: 15%;
  border-radius: 1em;
  Font-family:Arima Madurai;
  text-align: center;
}


#contact-button:hover {
  color: #ff6c64;
  vertical-align: center;
}
